<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h1>All chats</h1>
    <form action="/new" method="get">
        <button>New User</button>
    </form>
    <% for(let user of users) {%>
        <div class="name">
            <p>Name: <%= user.name %>
            </p>

        </div>
        <div class="contact">
            <p>Contact: <%= user.contact %>
            </p>

        </div>
        <div class="boi">
            <p>Bio: <%= user.bio %>
            </p>
            <div class="action">
                <form action="/user/<%=user.id%>/edit" method="get">
                    
                    <button>Edit</button>
                </form><br>
                <form action="/user/<%=user.id%>?_method=DELETE" method="post">
                    
                    <button>Delete</button>
                </form>
            </div>
        </div>
        <div class="followers">
            <p>Followers: <%= user.followers %>
            </p>

        </div>
        <div class="followinf">
            <p>Followings: <%= user.followings %>
            </p>

        </div>
        <hr>
        <% } %>

</body>

</html>